// レスポンシブ表示
$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (max-width: 1279px)',
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}

// * {
// 	outline: 1px solid magenta;
// }


body {
  background-color: #abe2ff;
}

.contents {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(../images/cloud1.svg) , url(../images/cloud2.svg) , url(../images/cloud3.svg) , url(../images/cloud4.svg) , url(../images/cloud3.svg) , url(../images/cloud4.svg) ,url(../images/cloud5.svg) , url(../images/cloud1.svg) ;
    background-size: 300px;
    background-position: 20% 35% , 20% 55% , 10% 70% ,10% 85% , 80% 60% , 80% 50% , 85% 98%;
    background-repeat: no-repeat;
    
    @include mq(tab) {
        width: 100%;
        background-size: 250px;
        background-position: 15% 40% , 80% 54% , 20% 60% ,70% 55% ,80% 65% , 97% 95% , 10% 85%;
    }

    @include mq(sp) {
      max-width: 100%;
      background-size: 150px;
      background-position: 10% 27% , 10% 46% , 10% 60% ,10% 75% ,90% 33%, 90% 41% , 90% 98% , 90% 52%;
  }
}

/*紙吹雪のスタイル*/
.confetti {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .confetti span {
    position: absolute;
    top: -100%;/*アニメーション以外の紙吹雪を非表示*/
    left: 0;
  }
  
  /*アニメーションの記述*/
  .confetti span:nth-child(2n + 1) {
    animation: confetti1 5s 0s linear infinite;
  }
  
  .confetti span:nth-child(2n + 2) {
    animation: confetti2 5s 0s linear infinite;
  }
  
  /*紙吹雪を回転させる記述*/
  @keyframes confetti1 {
    0% {
      top: -10%;
      transform: translateX(0) rotateX(0) rotateY(0);
    }
  
    100% {
      top: 100%;
      transform: translateX(20px) rotateX(180deg) rotateY(360deg);
  }
  }
  
  @keyframes confetti2 {
    0% {
      top: -10%;
      transform: translateX(0) rotateX(0) rotateY(0);
    }
  
    100% {
      top: 100%;
      transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
    }
  }
  
  /*紙吹雪の配置*/
  .confetti span:nth-child(1) {
    left: 0%;
  }
  
  .confetti span:nth-child(2) {
    left: 10%;
  }
  
  .confetti span:nth-child(3) {
    left: 20%;
  }
  
  .confetti span:nth-child(4) {
    left: 30%;
  }
  
  .confetti span:nth-child(5) {
    left: 40%;
  }
  
  .confetti span:nth-child(6) {
    left: 50%;
  }
  
  .confetti span:nth-child(7) {
    left: 60%;
  }
  
  .confetti span:nth-child(8) {
    left: 70%;
  }
  
  .confetti span:nth-child(9) {
    left: 80%;
  }
  
  .confetti span:nth-child(10) {
    left: 90%;
  }
  
  .confetti span:nth-child(11) {
    left: 100%;
  }
  
  /*紙吹雪の大きさ*/
  .confetti span:nth-child(3n + 1) {
    width: 3vw;
    height: 3vw;
  }
  
  .confetti span:nth-child(3n + 2) {
    width: 2vw;
    height: 2vw;
  }
  
  .confetti span:nth-child(3n + 3) {
    width: 1.5vw;
    height: 1.5w;
  }
  
  /*紙吹雪の色*/
  .confetti span:nth-child(2n + 1) {
    background: #3fa8ec;
  }
  
  .confetti span:nth-child(2n + 2) {
    background: #E65319;
  }
  
  .confetti span:nth-child(2n + 3) {
    background: #FAD627;
  }
  
  .confetti span:nth-child(2n + 4) {
    background: #9B008F;
  }
  
  .confetti span:nth-child(2n + 5) {
    background: #E3008B;
  }
  
  .confetti span:nth-child(2n + 6) {
    background: #2EA54F;
  }
  
  .confetti span:nth-child(2n + 7) {
    background: #FAD627;
  }
  
  /*アニメーションの秒数*/
  .confetti span:nth-child(2n + 1) {
    animation-duration: 5s;
  }
  
  .confetti span:nth-child(2n + 2) {
    animation-duration: 6s;
  }
  
  .confetti span:nth-child(2n + 3) {
    animation-duration: 10s;
  }
  
  .confetti span:nth-child(2n + 4) {
    animation-duration: 4s;
  }
  
  /*紙吹雪が降り始めるまでの時間*/
  .confetti span:nth-child(2n + 1) {
    animation-delay: 0s;
  }
  
  .confetti span:nth-child(2n + 2) {
    animation-delay: 4s;
  }
  
  .confetti span:nth-child(2n + 3) {
    animation-delay: 6s;
  }
  
  .confetti span:nth-child(2n + 4) {
    animation-delay: 2s;
  }
  
  .confetti span:nth-child(2n + 5) {
    animation-delay: 6s;
  }
  
  .confetti span:nth-child(2n + 6) {
    animation-delay: 10s;
  }
  
  .confetti span:nth-child(2n + 7) {
    animation-delay: 2s;
  }
  
  .confetti span:nth-child(2n + 8) {
    animation-delay: 4s;
  }
  
  .confetti span:nth-child(2n + 9) {
    animation-delay: 11s;
  }
  
  .confetti span:nth-child(2n + 10) {
    animation-delay: 1s;
  }
  
  .confetti span:nth-child(2n + 11) {
    animation-delay: 5s;
  }

  /* ふわっと表示 */
  .scr-target {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
}
.scr-target.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 2s;
}

// topに戻るボタン
#back {
    width: 30px;
    height: 30px;
    background: #E65319;
    position: fixed;
    // 画面上での位置を固定
    top: 90%;
    left: 90%;
    z-index: 1000;

  @include mq(sp) {
    opacity: 0;
    width: 30px;
    height: 30px;
    background: #E65319;
    position: fixed;
    // 画面上での位置を固定
    top: 94%;
    left: 85%;
    z-index: 1000;
  }
}

#triangle {
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent; 
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 18%;
}


  /* wrapper */
#wrapper:not(#horizontal) {
    width: 900px;
    margin: 0 auto;

    @include mq(tab) {
        width: 700px;
    }

    @include mq(sp) {
      width: 300px;
  }

     
}

/* header */
header h1 a img {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 350px;
    z-index: 100;

    @include mq(sp) {
      width: 150px;
  }
}

/* top-main */

.top-main {
  
    height: 1080px;
    width: 900px;
    background-image: url(../images/runway.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    position: relative;

    @include mq(tab) {
        width:700px;
        height: 1200px;
        background-size:700px;
        background-position: center;
    }

    @include mq(sp) {
      width:300px;
      height: 600px;
      background-image: url(../images/runway-sp.svg);
      background-size:contain;
      
  }
}

.top-main p img {
  text-align: center;

  @include mq(tab) {
    padding-top: 200px;
  }

  @include mq(sp) {
    width: 300px;
    padding-top: 100px;
    
}
}
.top-main img {
width: 85%;
height: auto;

@include mq(sp) {
 
}
}

//イラスト共通
#game-icon1 {
  width: 60px;
  position: absolute;
  top: 24%;
  left: 80%;

  img:hover {
    transform: translateY(-5px);
  }

  @include mq(tab) {
    
}

  @include mq(sp) {
    width: 40px;
    top: 28%;
    
}
}

#game-icon2 {
  width: 80px;
  position: absolute;
  top: 24%;
  left: 14%;

  @include mq(sp) {
    width: 50px;
    top: 28%;
}
}

#game-icon3 {
  width: 100px;
  position: absolute;
  top: 64%;
  left: 75%;

  @include mq(sp) {
    width: 50px;
    top: 80%;
}

@include mq(tab) {
  top: 76%;
}

}

#game-icon4 {
  width: 130px;
  position: absolute;
  top: 68%;
  left: 12%;

  @include mq(sp) {
    width: 80px;
    top: 82%;
    left: 5%;
}

@include mq(tab) {
  top: 79%;
}
}

#game-icon5 {
  width: 130px;
  position: absolute;
  top: 50%;
  left: 70%;

  @include mq(tab) {
    top: 55%;
  }

  @include mq(sp) {
    width: 50px;
    top: 41%;
}
}

#game-icon6 {
  width: 100px;
  top: 28%;
  left: 20%;
  @include mq(sp) {
    
    
}
}

#game-icon7 {
  width: 100px;
 
  @include mq(sp) {
   
    
}
}

.coin {
  display: flex;
  justify-content: space-around;
  width: 100px;
  position: absolute;
  top: 55%;
  left: 27%;

@include mq(tab) {
  top: 60%;
  left: 25%;
}

@include mq(sp) {
  width: 40px;
  top: 46%;
  left: 25%;
}
}

#game-icon8 {
  width: 100px;
  position: absolute;
  top: 60%;
  left: 70%;

  

@include mq(tab) {
  top: 65%;
}

@include mq(sp) {
  width: 40px;
  top: 52%;
  left: 70%;
  
}
}

#game-icon9 {
  width: 130px;
  position: absolute;
  top: 24%;
  left: -8%;

 

@include mq(tab) {
  left: -6%;
}

@include mq(sp) {
  width: 80px;
  top: 25%;
}
}

#game-icon10 {
  width: 200px;
  position: absolute;
  top: 90%;
  left: 85%;


@include mq(tab) {
  left: 74%;
}

@include mq(sp) {
  width: 100px;
  top: 95%;
  left: 75%;
}
}

//top-mainのアニメーション
.cv_btn img {
  animation: anime1 0.5s ease 0s infinite alternate;
  transform-origin:center;
}
@keyframes anime1 {
  from {
    transform: scale(0.9,0.9);
  }
  to {
    transform: scale(1,1);
  }
}

img:not(#not):hover {
  transform: translateY(-5px);
}


#play-button {
  width: 280px;
  position: absolute;
  top: 30%;
  left:35%;
  z-index: 100;

  @include mq(tab) {
    top: 70%;
    left: 30%;

    @include mq(sp) {
      width: 150px;
      top: 75%;
      left: 26%;
  }
  }
  
}

#areyou {
  width: 300px;
  position: absolute;
  top: 8%;
  left: 5%;

  @include mq(tab) {
    top: 13%;
    left: 1%;
  }

  @include mq(sp) {
    width: 120px;
    top: 14%;
    left: 0%;
}
}

#redy {
  width: 300px;
  position: absolute;
  top: 10%;
  left: 63%;

  @include mq(tab) {
    top: 14%;
    left: 58%;
  }

  @include mq(sp) {
    width: 150px;
    top: 14%;
}
}

#lets {
  width: 250px;
  position: absolute;
  top: 52%;
  left: 8%;

  @include mq(tab) {
    top: 55%;
    left: 1%;
  }

  @include mq(sp) {
    width: 100px;
    left: 6%;
}
}

#takeoff {
  width: 300px;
  position: absolute;
  top: 54%;
  left: 61%;

  @include mq(tab) {
    top: 57%;
    left: 60%;
  }

  @include mq(sp) {
    width: 130px;
   
    left: 60%;
}
}

#pointer1 {
  width: 80px;
  position: absolute;
  top: 45%;
  left: 60%;

  

  @include mq(tab) {
    top: 70%;
    left: 68%;
    transform: rotate(-75deg);
  }

  @include mq(sp) {
    width: 50px;
    transform: rotate(-85deg);
}
}

#pointer2 {
  width: 80px;
  position: absolute;
  top: 45%;
  left: 32%;

  @include mq(tab) {
    top: 70%;
    left: 20%;
    transform: rotate(75deg);
  }

  @include mq(sp) {
    width: 50px;
    transform: rotate(85deg);
    left: 16%;
}
}

/* 点滅 */
.blink {
	animation: blinking 0.8s ease-in-out infinite alternate;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* 左右に回転させるアニメーション */
.kakukaku1 {
  animation: kaku1 1.5s linear infinite;
}

@keyframes kaku1 {
	0%   { transform: rotate(0deg); }
  50%   { transform: rotate(25deg); }
	100% { transform: rotate(0deg); }
}

.kakukaku2 {
  animation: kaku2 1.5s linear infinite;
}

@keyframes kaku2 {
	0%   { transform: rotate(0deg); }
  50%   { transform: rotate(-25deg); }
	100% { transform: rotate(0deg); }
}



/* main */
#main {
  opacity: 0;
  margin-bottom: 200px;
  
  @include mq(sp) {
    height: 700px;
    
}
}


main .main-title {
  margin: 200px auto;
  display: flex;
  padding-top: 100px;

  @include mq(tab) {
   padding-top: 200px;
  }

  @include mq(sp) {
    
    margin: 0 auto;
    padding-top: 150px;
    justify-content: space-around;
    align-items: center;
}
}

main .main-title h2 img {
  margin-right: 20px;
    width: 600px;
  transform:rotate(-10deg) ;

  @include mq(tab) {
    width: 400px;
  }

  @include mq(sp) {
    width: 240px;
    margin: 0;
}
}

main .main-title p img {
    width: 300px;

    @include mq(sp) {
      width: 120px;
  }
}

main .main-section h3 {
  text-align: center;
  margin-bottom: 10px;
}

main .main-section h3 img {
    width: 300px;

    @include mq(tab) {
        width: 250px;
        padding-right: 10px;
      }

      @include mq(sp) {
        width: 160px;
        
    }
}



main .main-section h4 {
  text-align: center;
}

main .main-section h4 img {
  width: 500px;

  @include mq(tab) {
        width: 400px;
        
  }

  @include mq(sp) {
    width: 200px;
    
}
}

main .main-section p img {
    width: 330px;

    @include mq(sp) {
      width: 200px;
  }
}



#main-caption {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px;

  @include mq(tab) {
   align-items: end;   
  }

  @include mq(sp) {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    display: block;
    justify-content: center;
}
}

#main-text1 {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

#main-text2 {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}

#main-text3{
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

//horizontal


/* date */
.date {
  width: 900px;
  margin: 300px auto;
  position: relative;
  
  @include mq(tab) {
    width: 700px;
    margin: 200px auto ;
  }

  @include mq(sp) {
    width: 300px;
    padding-top: 100px;
}
}

.date h5 {
  text-align: center;
}

.date h6 {
  text-align: center;
}

.date h5 img {
  width: 500px;
  margin: 100px 0 50px 0;
  
  @include mq(tab) {
    width: 400px;
  }

  @include mq(sp) {
    width: 300px;
}
}

.date h6 img {
  width: 500px;
  margin-bottom: 50px;

  @include mq(tab) {
   width: 400px;     
  }

  @include mq(sp) {
    width: 300px;
}
}

#hanabi1 {
  width: 300px;
  position: absolute;
  top: 0;
  left: 700px; 
  animation: anime1 0.5s ease 0s infinite alternate;
  transform-origin:center;
  
  @keyframes anime1 {
    from {
      transform: scale(0.9,0.9);
    }
    to {
      transform: scale(1,1);
    }
  }

  @include mq(tab) {
   width: 200px; 
   left: 78%;
  }

  @include mq(sp) {
    width: 130px;
    top: 15%;
    left: 68%;
}
}

#hanabi2 {
  width: 300px;
  position: absolute;
  top: 200px;
  left: -100px;
  animation: anime1 0.5s ease 0s infinite alternate;
  transform-origin:center;
  
  @keyframes anime1 {
    from {
      transform: scale(0.9,0.9);
    }
    to {
      transform: scale(1,1);
    }
  }

  @include mq(tab) {
   width: 200px;  
   left: -7%;   
  }

  @include mq(sp) {
    width: 130px;
    top: 87%;
    left: -13%;
}
}


/* contact */

label {
  display: block;
  margin-bottom: 20px;
}

.contact {
  margin-bottom: 100px;
  
  @include mq(sp) {
    width: 300px;
    margin: 0 auto;
}
}

.contact h6 img {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.contact form {
text-align: center;
position: relative;
z-index: 50;


}

::placeholder {
  color: rgb(142,142,142);
}

.contact input {
  width:340px ;
  height: 30px;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  border: 2px solid #000;

  @include mq(sp) {
    width: 296px;
    margin: 20px 0;
    padding: 0;
}
}

.contact article section form dl textarea {
  width: 340px;
  height: 250px;
  border-radius: 5px;
  border: 2px solid #000;
  margin-bottom: 30px;
  @include mq(sp) {
    width: 294px;

}
}

 #contact-button{
  width: 200px;
  height: 40px;
  display: block;
  margin: 20px auto;
  border: 2px solid #000;
  background: #fff;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  @include mq(sp) {
    margin: 30px auto ;
}
}

/* footer */
footer {
  width: 900px;
  
  @include mq(tab) {
    width: 700px; 
   }

   @include mq(sp) {
    width: 300px;
    height: 200px;
}
}

footer a img {
    width: 250px;

    @include mq(sp) {
      display: block;
      width: 150px;
      margin: 50px auto 20px auto;
  }

}

footer p {
  font-size: 12px;

}

#icon1 {
  width: 25px;
  
  @include mq(sp) {
    margin: 0;
}
}

#icon2 {
  width: 25px;
  margin-left: 10px;

  @include mq(sp) {
    margin: 0;
}
}

#icon3 {
  width: 25px;
  margin: 0 0 0 10px;

  @include mq(sp) {
    margin: 0;
}
}

footer .footer-items {
  display: flex;
  margin: 10px;
  justify-content: flex-end;

  @include mq(sp) {
    display: block;
    width: 290px;
    margin: 0 auto;
}
}

footer .footer-text .tel {
  display: flex;
}

footer .footer-text .tel p {
  padding: 0 0 10px 0;
}

footer .footer-text .address {
  display: flex;
}

#address-p1 {
  margin-right: 10px;
}

#tel-p1 {
  margin-right: 10px;
}

footer .footer-text {
  margin:0 30px ;

}

footer .footer-icon {

  @include mq(sp) {
    width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 0 auto;
}
  
}


footer small {
  display: block;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}






// confirm 















//complete

